<div class="row-fluid">
  <div class="col-xs-6 col-lg-6 hidden-tablet hidden-mobile">
  </div>
  <div class="col-md-6 col-xs-6 col-lg-6">
    
    <div class="row-fluid text-center">
      <img src="images/logo.png" class="logotipo" />
    </div>

    <div class="row-fluid context text-center">
      <p><span>Alugue vestidos de grandes estilistas, e ainda com a praticidade de fazer tudo online.</span></p>
      <p><span>Confira em nosso site: <b>www.dressandgo.com.br</b> todas as top marcas que temos disponíveis para aluguel, e o melhor: tudo da coleção atual.</span></p>
    </div>

    <div class="row-fluid discount text-center">
      <span>GANHE AGORA</span>
      <span>30% DE DESCONTO</span>
      <button class="special-button" ng-click="button = true" ng-show="!button" ng-hide="cpfExists || success">CLIQUE AQUI</button>
      <span class="coupon-result" ng-show="cpfExists">CPF JÁ CADASTRADO</span>
      <span class="coupon-result" ng-show="success">Cupom gerado com sucesso, anote seu código: {{item.code}}</span>
      <b ng-show="hasError">Cpf inválido, somente números.</b>
      <input type="text" class="input-text" ng-show="button" placeholder="99999999999" ng-enter="send()" ng-model="cpf" ng-cpf ui-mask="99999999999" ng-class="{'hasError' : hasError}" />
    </div>

    <div class="row-fluid leading text-center">
      <span>• Validade do voucher: 24 horas;</span>
      <span>• Válido apenas para aluguel online, sem prova no atelier;</span>
      <span>• Válido apenas para vestidos curtos;</span>
      <span>• Para usar o seu cupom de desconto, insira o código no momento da finalização do seu aluguel no site.</span>
    </div>

  </div>
</div>